.border-red {
    border: red solid 2px !important;
}
.border-blue {
    border: blue solid 2px !important;
}
.border-pink {
    border: pink solid 2px !important;
}
.border-green {
    border: green solid 2px !important;
}
.border-purple {
    border: purple solid 2px !important;
}
